@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
    font-family: 'Anonymous Pro', monospace, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #000000;
    cursor: url("../images/cursor.png"), auto;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #000000; 
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2; 
}

a {
    color: #ffffff;
    cursor: url("../images/cursor_red.png"), auto;
}

nav {
    z-index: 1;
    background-color: black;
    position: fixed;
    right: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    transform: rotate(180deg);
}

header {
    padding: 1em;
    position: absolute;
}

header h1{
    margin-top: 0;
}

header h4 {
    text-decoration: underline;
}

#date {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}

#video_contain {
    height: 100vh;
    background: rgba(0, 0, 0, .1) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=');
}

#video {
    z-index: -100;
    position: fixed;
    overflow: hidden;
    width: 400%;
    height: 400%;
    left: -150%;
    top: -150%;
}

#player {
    width: 100%;
    height: 100%;
}

canvas { 
    z-index: -99;
    position: fixed;
    touch-action: none;
}

#random_shit {
    min-height: 100vh;
    background-color: #ee0000;
    overflow: hidden;
}

#image_glitch {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eval, .help{
    opacity: 0;
}

#glitch {
    max-height: 25em;
    background-color: white;
}

#upload_btn {
    padding-bottom: 1em;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: url("../images/cursor_red.png"), auto;
}

button {
    font-family: 'Anonymous Pro', monospace, Arial, Helvetica, sans-serif;
}

/* about page */

#about {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;  
}

#site_description {
    max-width: 20em;
}

#site_description p {
    margin: 1em;
}

/* rainbow */

.rainbow { 
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }